.wrapper {
	height: 430px;
	background-color: #9591D0;
}



.slider {
	width: 900px;
	height: 300px;
	margin: auto;
}

.item {
	text-align: center;
}

.frame-position {
	position: relative;
	top: 30px;
	height: 200px;
	margin-bottom: 50px;
}






